In [1]:
# imports
import os
import sys
import dvc.api
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import dataframe_image as dfi
import warnings
warnings.filterwarnings('ignore')

In [2]:
# adding and setting up scripts
sys.path.append('.')
sys.path.append('..')
sys.path.insert(1, '../scripts/')
import defaults as defs
import dataCleaner as dc
import dataVisualizer as dv
cleaner= dc.dataCleaner('EDA notebook')
visualizer= dv.dataVisualizer('EDA notebook')

Storage directory for logs created!
--> <Logger dataCleaner (WARNING)>
logger <Logger dataCleaner (DEBUG)> created at path: ../logs/cleaner_root.log
Data cleaner in action
--> <Logger dataVisualizer (WARNING)>
logger <Logger dataVisualizer (DEBUG)> created at path: ../logs/visualizer_root.log
Data visualizer in action

In [3]:
# pandas settings
pd.set_option('display.max_columns', 30)

# version of the data
# v1: raw-data
version= 'v1'

# set up the data url
data_url= dvc.api.get_url(path= defs.data_file,         # path to the data file
		                  repo= defs.repo,              # path to the repository
		                  rev= version)                 # version of the data

# print the data path
print(f'data path: {data_url}')

data path: /home/f0x-tr0t/Documents/dvc-store//f7/0eeb7e3a079eb3566cddf9267ccbe6

In [4]:
#date = ['Date'] # the date column name
missing_values = ["n/a", "na", "undefined", '?', 'NA', 'undefined']

# read CSV 
df = pd.read_csv(data_url, na_values=missing_values)#, parse_dates=date)

In [5]:
df

    track_id; type; traveled_d; avg_speed; lat; lon; speed; lon_acc; lat_acc; time
0    1; Car; 48.85; 9.770344; 37.977391; 23.737688;...
1    2; Motorcycle; 98.09; 19.839417; 37.977642; 23...
2    3; Motorcycle; 63.80; 18.228752; 37.977997; 23...
3    4; Motorcycle; 145.72; 26.229014; 37.978135; 2...
4    5; Motorcycle; 138.01; 24.841425; 37.978134; 2...
..                                                 ...
917  918; Car; 78.83; 30.846243; 37.980629; 23.7350...
918  919; Motorcycle; 19.50; 9.234518; 37.979327; 2...
919  920; Car; 48.97; 24.486209; 37.978413; 23.7355...
920  921; Motorcycle; 46.68; 30.007124; 37.980020; ...
921  922; Car; 35.00; 23.335533; 37.978428; 23.7355...

[922 rows x 1 columns]