In [23]:
# imports
import os
import sys
import dvc.api
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import dataframe_image as dfi
import warnings
warnings.filterwarnings('ignore')

In [24]:
# adding and setting up scripts
sys.path.append('.')
sys.path.append('..')
sys.path.insert(1, '../scripts/')
import defaults as defs
import dataCleaner as dc
import dataVisualizer as dv
cleaner= dc.dataCleaner('EDA notebook')
visualizer= dv.dataVisualizer('EDA notebook')

--> <Logger dataCleaner (DEBUG)>
logger <Logger dataCleaner (DEBUG)> created at path: ../logs/cleaner_root.log
Data cleaner in action
--> <Logger dataVisualizer (DEBUG)>
logger <Logger dataVisualizer (DEBUG)> created at path: ../logs/visualizer_root.log
Data visualizer in action

In [25]:
# pandas settings
pd.set_option('display.max_columns', 30)

# version of the data
# v1: raw-data
version= 'v1'

# set up the data url
data_url= dvc.api.get_url(path= defs.data_file,         # path to the data file
		                  repo= defs.repo,              # path to the repository
		                  rev= version)                 # version of the data

# print the data path
print(f'data path: {data_url}')

data path: /home/f0x-tr0t/Documents/dvc-store//f7/0eeb7e3a079eb3566cddf9267ccbe6

In [26]:
#date = ['Date'] # the date column name
missing_values = ["n/a", "na", "undefined", '?', 'NA', 'undefined']

# read CSV 
df = pd.read_csv(data_url, na_values=missing_values)#, parse_dates=date)

# EDA

In [27]:
df

    track_id; type; traveled_d; avg_speed; lat; lon; speed; lon_acc; lat_acc; time
0    1; Car; 48.85; 9.770344; 37.977391; 23.737688;...
1    2; Motorcycle; 98.09; 19.839417; 37.977642; 23...
2    3; Motorcycle; 63.80; 18.228752; 37.977997; 23...
3    4; Motorcycle; 145.72; 26.229014; 37.978135; 2...
4    5; Motorcycle; 138.01; 24.841425; 37.978134; 2...
..                                                 ...
917  918; Car; 78.83; 30.846243; 37.980629; 23.7350...
918  919; Motorcycle; 19.50; 9.234518; 37.979327; 2...
919  920; Car; 48.97; 24.486209; 37.978413; 23.7355...
920  921; Motorcycle; 46.68; 30.007124; 37.980020; ...
921  922; Car; 35.00; 23.335533; 37.978428; 23.7355...

[922 rows x 1 columns]

In [28]:
print(df.shape)
print(df.columns)

(922, 1)
Index(['track_id; type; traveled_d; avg_speed; lat; lon; speed; lon_acc; lat_acc; time'], dtype='object')

### dat preparation

In [29]:
columns = df.columns[0].split(";")
columns

['track_id',
 ' type',
 ' traveled_d',
 ' avg_speed',
 ' lat',
 ' lon',
 ' speed',
 ' lon_acc',
 ' lat_acc',
 ' time']

In [30]:
columns_ =[]
for cols in columns:
    columns_.append(str.strip(cols))
columns = columns_

In [31]:
columns

['track_id',
 'type',
 'traveled_d',
 'avg_speed',
 'lat',
 'lon',
 'speed',
 'lon_acc',
 'lat_acc',
 'time']

As we can see there are 10 columns

In [32]:
# setting up lists for each column 
track_ids = []
types = []
traveled_d = []
avg_speeds = []
lat = []
lon = []
speed = []
lon_acc = []
lat_acc = []
time = []

trackings = []
listOfRows = []

for r in range(len(df)): 
    row = df.iloc[r,:][0].split(";")
    listOfRows.append(row)
    base_row = row[:10]
    tracking_row = row[10:]
    tracking = ','.join(tracking_row)
    
    track_ids.append(base_row[0])
    types.append(base_row[1])
    traveled_d.append(base_row[2])
    avg_speeds.append(base_row[3])
    lat.append(base_row[4])
    lon.append(base_row[5])
    speed.append(base_row[6])
    lon_acc.append(base_row[7])
    lat_acc.append(base_row[8])
    time.append(base_row[9])
    
    trackings.append(tracking[1:])

print(len(listOfRows))

KeyboardInterrupt:

numeric descriptions

In [ ]:

print(f'The total number of rows converted to a list: {len(listOfRows)}')

print(f'\nThe shortest record of the data: {len(max(listOfRows))}')
print(f'Track id of the shortest record: {max(listOfRows)[0]}')

print(f'\nThe longest record of the data: {len(min(listOfRows))}')
print(f'Track id of the longest record: {min(listOfRows)[0]}')

The total number of rows converted to a list: 922

The shortest record of the data: 491
Track id of the shortest record: 99

The longest record of the data: 2711
Track id of the longest record: 1

Taking a look at one of the records - the shortest one

In [ ]:
print(listOfRows[98])

['99', ' Motorcycle', ' 19.93', ' 22.420906', ' 37.979417', ' 23.735770', ' 25.2510', ' -0.0270', ' -1.6248', ' 15.600000', ' 37.979417', ' 23.735767', ' 25.2546', ' 0.0044', ' -1.7534', ' 15.640000', ' 37.979417', ' 23.735763', ' 25.2612', ' 0.0253', ' -1.8818', ' 15.680000', ' 37.979416', ' 23.735760', ' 25.2695', ' 0.0377', ' -2.0081', ' 15.720000', ' 37.979416', ' 23.735757', ' 25.2794', ' 0.0575', ' -2.1328', ' 15.760000', ' 37.979415', ' 23.735754', ' 25.2918', ' 0.0834', ' -2.2569', ' 15.800000', ' 37.979415', ' 23.735751', ' 25.3075', ' 0.1146', ' -2.3811', ' 15.840000', ' 37.979415', ' 23.735748', ' 25.3247', ' 0.1176', ' -2.5050', ' 15.880000', ' 37.979414', ' 23.735744', ' 25.3411', ' 0.1155', ' -2.6261', ' 15.920000', ' 37.979414', ' 23.735741', ' 25.3591', ' 0.1483', ' -2.7438', ' 15.960000', ' 37.979413', ' 23.735738', ' 25.3831', ' 0.2115', ' -2.8586', ' 16.000000', ' 37.979413', ' 23.735735', ' 25.4171', ' 0.3016', ' -2.9711', ' 16.040000', ' 37.979412', ' 23.735732', ' 25.4624', ' 0.3874', ' -3.0778', ' 16.080000', ' 37.979412', ' 23.735729', ' 25.5164', ' 0.4472', ' -3.1693', ' 16.120000', ' 37.979411', ' 23.735726', ' 25.5857', ' 0.5176', ' -3.3645', ' 16.160000', ' 37.979410', ' 23.735723', ' 25.6648', ' 0.5816', ' -3.5404', ' 16.200000', ' 37.979410', ' 23.735720', ' 25.7530', ' 0.6457', ' -3.6975', ' 16.240000', ' 37.979409', ' 23.735717', ' 25.8529', ' 0.7430', ' -3.8363', ' 16.280000', ' 37.979408', ' 23.735714', ' 25.9673', ' 0.8468', ' -3.9563', ' 16.320000', ' 37.979407', ' 23.735711', ' 26.0938', ' 0.9102', ' -4.0573', ' 16.360000', ' 37.979406', ' 23.735708', ' 26.2260', ' 0.9268', ' -4.1394', ' 16.400000', ' 37.979405', ' 23.735705', ' 26.3570', ' 0.8936', ' -4.2023', ' 16.440000', ' 37.979404', ' 23.735702', ' 26.4850', ' 0.8840', ' -4.2472', ' 16.480000', ' 37.979403', ' 23.735699', ' 26.6133', ' 0.8982', ' -4.2751', ' 16.520000', ' 37.979401', ' 23.735696', ' 26.7407', ' 0.8719', ' -4.2860', ' 16.560000', ' 37.979400', ' 23.735693', ' 26.8615', ' 0.8052', ' -4.2788', ' 16.600000', ' 37.979399', ' 23.735690', ' 26.9690', ' 0.6885', ' -4.2530', ' 16.640000', ' 37.979397', ' 23.735687', ' 27.0615', ' 0.5955', ' -4.2091', ' 16.680000', ' 37.979395', ' 23.735685', ' 27.1423', ' 0.5263', ' -4.1483', ' 16.720000', ' 37.979394', ' 23.735682', ' 27.2102', ' 0.4169', ' -4.0715', ' 16.760000', ' 37.979392', ' 23.735679', ' 27.2595', ' 0.2670', ' -3.9794', ' 16.800000', ' 37.979390', ' 23.735676', ' 27.2836', ' 0.0671', ' -3.8719', ' 16.840000', ' 37.979388', ' 23.735674', ' 27.2793', ' -0.1274', ' -3.7488', ' 16.880000', ' 37.979386', ' 23.735671', ' 27.2488', ' -0.2982', ' -3.6109', ' 16.920000', ' 37.979384', ' 23.735669', ' 27.1938', ' -0.4662', ' -3.4589', ' 16.960000', ' 37.979382', ' 23.735666', ' 27.1137', ' -0.6472', ' -3.2947', ' 17.000000', ' 37.979380', ' 23.735663', ' 27.0043', ' -0.8747', ' -3.1188', ' 17.040000', ' 37.979378', ' 23.735661', ' 26.8584', ' -1.1518', ' -2.9320', ' 17.080000', ' 37.979376', ' 23.735659', ' 26.6714', ' -1.4473', ' -2.7376', ' 17.120000', ' 37.979374', ' 23.735656', ' 26.4438', ' -1.7150', ' -2.5399', ' 17.160000', ' 37.979372', ' 23.735654', ' 26.1813', ' -1.9328', ' -2.3492', ' 17.200000', ' 37.979370', ' 23.735652', ' 25.8898', ' -2.1166', ' -2.1683', ' 17.240000', ' 37.979367', ' 23.735649', ' 25.5709', ' -2.3144', ' -1.9970', ' 17.280000', ' 37.979365', ' 23.735647', ' 25.2223', ' -2.5285', ' -1.8351', ' 17.320000', ' 37.979363', ' 23.735645', ' 24.8426', ' -2.7454', ' -1.6820', ' 17.360000', ' 37.979361', ' 23.735643', ' 24.4335', ' -2.9381', ' -1.5382', ' 17.400000', ' 37.979359', ' 23.735641', ' 24.0017', ' -3.0599', ' -1.4040', ' 17.440000', ' 37.979357', ' 23.735639', ' 23.5543', ' -3.1552', ' -1.2797', ' 17.480000', ' 37.979355', ' 23.735637', ' 23.0950', ' -3.2242', ' -1.1651', ' 17.520000', ' 37.979354', ' 23.735636', ' 22.6256', ' -3.2960', ' -1.0593', ' 17.560000', ' 37.979352', ' 23.735634', ' 22.1456', ' -3.3706', ' -0.9611', ' 17.600000', ' 37.979350', ' 23.735632', ' 21.6600', ' -3.3742', ' -0.8706', ' 17.640000', ' 37.979348', ' 23.735631', ' 21.1758', ' -3.3514', ' -0.7882', ' 17.680000', ' 37.979347', ' 23.735629', ' 20.6967', ' -3.3020', ' -0.7142', ' 17.720000', ' 37.979345', ' 23.735628', ' 20.2246', ' -3.2554', ' -0.6479', ' 17.760000', ' 37.979344', ' 23.735626', ' 19.7590', ' -3.2116', ' -0.5884', ' 17.800000', ' 37.979342', ' 23.735625', ' 19.3048', ' -3.0969', ' -0.5352', ' 17.840000', ' 37.979341', ' 23.735624', ' 18.8690', ' -2.9557', ' -0.4888', ' 17.880000', ' 37.979339', ' 23.735622', ' 18.4555', ' -2.7882', ' -0.4491', ' 17.920000', ' 37.979338', ' 23.735621', ' 18.0672', ' -2.6052', ' -0.4156', ' 17.960000', ' 37.979336', ' 23.735620', ' 17.7050', ' -2.4250', ' -0.3870', ' 18.000000', ' 37.979335', ' 23.735619', ' 17.3719', ' -2.2013', ' -0.3630', ' 18.040000', ' 37.979334', ' 23.735618', ' 17.0735', ' -1.9429', ' -0.3436', ' 18.080000', ' 37.979332', ' 23.735616', ' 16.8123', ' -1.6854', ' -0.3282', ' 18.120000', ' 37.979331', ' 23.735615', ' 16.5877', ' -1.4344', ' -0.3159', ' 18.160000', ' 37.979330', ' 23.735614', ' 16.3965', ' -1.2213', ' -0.3034', ' 18.200000', ' 37.979329', ' 23.735613', ' 16.2318', ' -1.0652', ' -0.2897', ' 18.240000', ' 37.979327', ' 23.735612', ' 16.0888', ' -0.9215', ' -0.2750', ' 18.280000', ' 37.979326', ' 23.735611', ' 15.9641', ' -0.8392', ' -0.2707', ' 18.320000', ' 37.979325', ' 23.735610', ' 15.8484', ' -0.7311', ' -0.2666', ' 18.360000', ' 37.979324', ' 23.735609', ' 15.7459', ' -0.5912', ' -0.2623', ' 18.400000', ' 37.979322', ' 23.735608', ' 15.6579', ' -0.4706', ' -0.2580', ' 18.440000', ' 37.979321', ' 23.735607', ' 15.5816', ' -0.3718', ' -0.2535', ' 18.480000', ' 37.979320', ' 23.735606', ' 15.5136', ' -0.2980', ' -0.2487', ' 18.520000', ' 37.979319', ' 23.735605', ' 15.4544', ' -0.1928', ' -0.2434', ' 18.560000', ' 37.979317', ' 23.735604', ' 15.4090', ' -0.0511', ' -0.2378', ' 18.600000', ' 37.979316', ' 23.735603', ' 15.3788', ' 0.0662', ' -0.2319', ' 18.640000', ' 37.979315', ' 23.735602', ' 15.3603', ' 0.1549', ' -0.2257', ' 18.680000', ' 37.979313', ' 23.735600', ' 15.3492', ' 0.2098', ' -0.2188', ' 18.720000', ' 37.979312', ' 23.735599', ' 15.3458', ' 0.3039', ' -0.2114', ' 18.760000', ' 37.979311', ' 23.735598', ' 15.3568', ' 0.4459', ' -0.2035', ' 18.800000', ' ']

- Setting up the raw data into two tables

- base data and paths and speed of the base data

In [ ]:
columns.append('trackings')
columns

['track_id',
 'type',
 'traveled_d',
 'avg_speed',
 'lat',
 'lon',
 'speed',
 'lon_acc',
 'lat_acc',
 'time',
 'trackings']

In [ ]:
base_data = {columns[0]:track_ids, columns[1]:types, columns[2]:traveled_d, columns[3]:avg_speeds, 
             'initial_'+columns[4]:lat, 'initial_'+columns[5]:lon, 'initial_'+columns[6]:speed, 'initial_'+columns[7]:lon_acc,
             'initial_'+columns[8]:lat_acc, 'initial_'+columns[9]:time,
             columns[10]:trackings}

In [ ]:
new_df = pd.DataFrame(base_data)
new_df.head(10)

,track_id,type,traveled_d,avg_speed,initial_lat,initial_lon,initial_speed,initial_lon_acc,initial_lat_acc,initial_time,trackings
0,1,Car,48.85,9.770344,37.977391,23.737688,4.9178,0.0518,-0.0299,0.000000,"37.977391, 23.737688, 4.9207, -0.0124, -0.0354..."
1,2,Motorcycle,98.09,19.839417,37.977642,23.737400,16.9759,-0.0361,-0.0228,0.000000,"37.977642, 23.737402, 16.9739, 0.0087, -0.0262..."
2,3,Motorcycle,63.80,18.228752,37.977997,23.737264,20.1906,-0.0795,-0.3395,0.000000,"37.977995, 23.737265, 20.1862, 0.0191, -0.3887..."
3,4,Motorcycle,145.72,26.229014,37.978135,23.737072,2.7555,-0.0302,0.0948,0.000000,"37.978135, 23.737072, 2.7538, 0.0072, 0.1052, ..."
4,5,Motorcycle,138.01,24.841425,37.978134,23.737103,0.0000,0.0000,0.0000,0.000000,"37.978134, 23.737103, 0.0000, 0.0000, 0.0000, ..."
5,6,Medium Vehicle,159.97,17.451502,37.978152,23.737120,0.0000,0.0000,0.0000,0.000000,"37.978152, 23.737120, 0.0000, 0.0000, 0.0000, ..."
6,7,Motorcycle,153.91,22.895895,37.978145,23.737161,0.0000,0.0000,0.0000,0.000000,"37.978145, 23.737161, 0.0000, 0.0000, 0.0000, ..."
7,8,Car,158.21,21.739084,37.978230,23.737089,0.0000,0.0000,0.0000,0.000000,"37.978230, 23.737089, 0.0000, 0.0000, 0.0000, ..."
8,9,Car,161.01,21.154471,37.978185,23.737128,0.0000,0.0000,0.0000,0.000000,"37.978185, 23.737128, 0.0000, 0.0000, 0.0000, ..."
9,10,Car,159.53,18.891989,37.978190,23.737050,4.0538,0.1084,-0.0000,0.000000,"37.978190, 23.737051, 4.0597, -0.0259, 0.0000,..."

null checks

In [ ]:
new_df.isna().sum()

track_id           0
type               0
traveled_d         0
avg_speed          0
initial_lat        0
initial_lon        0
initial_speed      0
initial_lon_acc    0
initial_lat_acc    0
initial_time       0
trackings          0
dtype: int64

the data contains no nulls and can be further transformed and analyzed

In [ ]:
new_df['type'].value_counts()

 Car               426
 Motorcycle        251
 Taxi              176
 Medium Vehicle     26
 Bus                23
 Heavy Vehicle      20
Name: type, dtype: int64

There are 6 types of vehicles that are being tracked

In [ ]:
trajectories = new_df.iloc[98, 10].split(',')
data_splits = np.array_split(trajectories, 81.16666666666667)

In [ ]:
len(trajectories)/6

80.16666666666667

In [ ]:
for array in data_splits:
    print(list(array))

['37.979417', ' 23.735767', ' 25.2546', ' 0.0044', ' -1.7534', ' 15.640000']
[' 37.979417', ' 23.735763', ' 25.2612', ' 0.0253', ' -1.8818', ' 15.680000']
[' 37.979416', ' 23.735760', ' 25.2695', ' 0.0377', ' -2.0081', ' 15.720000']
[' 37.979416', ' 23.735757', ' 25.2794', ' 0.0575', ' -2.1328', ' 15.760000']
[' 37.979415', ' 23.735754', ' 25.2918', ' 0.0834', ' -2.2569', ' 15.800000']
[' 37.979415', ' 23.735751', ' 25.3075', ' 0.1146', ' -2.3811', ' 15.840000']
[' 37.979415', ' 23.735748', ' 25.3247', ' 0.1176', ' -2.5050', ' 15.880000']
[' 37.979414', ' 23.735744', ' 25.3411', ' 0.1155', ' -2.6261', ' 15.920000']
[' 37.979414', ' 23.735741', ' 25.3591', ' 0.1483', ' -2.7438', ' 15.960000']
[' 37.979413', ' 23.735738', ' 25.3831', ' 0.2115', ' -2.8586', ' 16.000000']
[' 37.979413', ' 23.735735', ' 25.4171', ' 0.3016', ' -2.9711', ' 16.040000']
[' 37.979412', ' 23.735732', ' 25.4624', ' 0.3874', ' -3.0778', ' 16.080000']
[' 37.979412', ' 23.735729', ' 25.5164', ' 0.4472', ' -3.1693', ' 16.120000']
[' 37.979411', ' 23.735726', ' 25.5857', ' 0.5176', ' -3.3645', ' 16.160000']
[' 37.979410', ' 23.735723', ' 25.6648', ' 0.5816', ' -3.5404', ' 16.200000']
[' 37.979410', ' 23.735720', ' 25.7530', ' 0.6457', ' -3.6975', ' 16.240000']
[' 37.979409', ' 23.735717', ' 25.8529', ' 0.7430', ' -3.8363', ' 16.280000']
[' 37.979408', ' 23.735714', ' 25.9673', ' 0.8468', ' -3.9563', ' 16.320000']
[' 37.979407', ' 23.735711', ' 26.0938', ' 0.9102', ' -4.0573', ' 16.360000']
[' 37.979406', ' 23.735708', ' 26.2260', ' 0.9268', ' -4.1394', ' 16.400000']
[' 37.979405', ' 23.735705', ' 26.3570', ' 0.8936', ' -4.2023', ' 16.440000']
[' 37.979404', ' 23.735702', ' 26.4850', ' 0.8840', ' -4.2472', ' 16.480000']
[' 37.979403', ' 23.735699', ' 26.6133', ' 0.8982', ' -4.2751', ' 16.520000']
[' 37.979401', ' 23.735696', ' 26.7407', ' 0.8719', ' -4.2860', ' 16.560000']
[' 37.979400', ' 23.735693', ' 26.8615', ' 0.8052', ' -4.2788', ' 16.600000']
[' 37.979399', ' 23.735690', ' 26.9690', ' 0.6885', ' -4.2530', ' 16.640000']
[' 37.979397', ' 23.735687', ' 27.0615', ' 0.5955', ' -4.2091', ' 16.680000']
[' 37.979395', ' 23.735685', ' 27.1423', ' 0.5263', ' -4.1483', ' 16.720000']
[' 37.979394', ' 23.735682', ' 27.2102', ' 0.4169', ' -4.0715', ' 16.760000']
[' 37.979392', ' 23.735679', ' 27.2595', ' 0.2670', ' -3.9794', ' 16.800000']
[' 37.979390', ' 23.735676', ' 27.2836', ' 0.0671', ' -3.8719', ' 16.840000']
[' 37.979388', ' 23.735674', ' 27.2793', ' -0.1274', ' -3.7488', ' 16.880000']
[' 37.979386', ' 23.735671', ' 27.2488', ' -0.2982', ' -3.6109', ' 16.920000']
[' 37.979384', ' 23.735669', ' 27.1938', ' -0.4662', ' -3.4589', ' 16.960000']
[' 37.979382', ' 23.735666', ' 27.1137', ' -0.6472', ' -3.2947', ' 17.000000']
[' 37.979380', ' 23.735663', ' 27.0043', ' -0.8747', ' -3.1188', ' 17.040000']
[' 37.979378', ' 23.735661', ' 26.8584', ' -1.1518', ' -2.9320', ' 17.080000']
[' 37.979376', ' 23.735659', ' 26.6714', ' -1.4473', ' -2.7376', ' 17.120000']
[' 37.979374', ' 23.735656', ' 26.4438', ' -1.7150', ' -2.5399', ' 17.160000']
[' 37.979372', ' 23.735654', ' 26.1813', ' -1.9328', ' -2.3492', ' 17.200000']
[' 37.979370', ' 23.735652', ' 25.8898', ' -2.1166', ' -2.1683', ' 17.240000']
[' 37.979367', ' 23.735649', ' 25.5709', ' -2.3144', ' -1.9970', ' 17.280000']
[' 37.979365', ' 23.735647', ' 25.2223', ' -2.5285', ' -1.8351', ' 17.320000']
[' 37.979363', ' 23.735645', ' 24.8426', ' -2.7454', ' -1.6820', ' 17.360000']
[' 37.979361', ' 23.735643', ' 24.4335', ' -2.9381', ' -1.5382', ' 17.400000']
[' 37.979359', ' 23.735641', ' 24.0017', ' -3.0599', ' -1.4040', ' 17.440000']
[' 37.979357', ' 23.735639', ' 23.5543', ' -3.1552', ' -1.2797', ' 17.480000']
[' 37.979355', ' 23.735637', ' 23.0950', ' -3.2242', ' -1.1651', ' 17.520000']
[' 37.979354', ' 23.735636', ' 22.6256', ' -3.2960', ' -1.0593', ' 17.560000']
[' 37.979352', ' 23.735634', ' 22.1456', ' -3.3706', ' -0.9611', ' 17.600000']
[' 37.979350', ' 23.735632', ' 21.6600', ' -3.3742', ' -0.8706', ' 17.640000']
[' 37.979348', ' 23.735631', ' 21.1758', ' -3.3514', ' -0.7882', ' 17.680000']
[' 37.979347', ' 23.735629', ' 20.6967', ' -3.3020', ' -0.7142', ' 17.720000']
[' 37.979345', ' 23.735628', ' 20.2246', ' -3.2554', ' -0.6479', ' 17.760000']
[' 37.979344', ' 23.735626', ' 19.7590', ' -3.2116', ' -0.5884', ' 17.800000']
[' 37.979342', ' 23.735625', ' 19.3048', ' -3.0969', ' -0.5352', ' 17.840000']
[' 37.979341', ' 23.735624', ' 18.8690', ' -2.9557', ' -0.4888', ' 17.880000']
[' 37.979339', ' 23.735622', ' 18.4555', ' -2.7882', ' -0.4491', ' 17.920000']
[' 37.979338', ' 23.735621', ' 18.0672', ' -2.6052', ' -0.4156', ' 17.960000']
[' 37.979336', ' 23.735620', ' 17.7050', ' -2.4250', ' -0.3870', ' 18.000000']
[' 37.979335', ' 23.735619', ' 17.3719', ' -2.2013', ' -0.3630', ' 18.040000']
[' 37.979334', ' 23.735618', ' 17.0735', ' -1.9429', ' -0.3436', ' 18.080000']
[' 37.979332', ' 23.735616', ' 16.8123', ' -1.6854', ' -0.3282', ' 18.120000']
[' 37.979331', ' 23.735615', ' 16.5877', ' -1.4344', ' -0.3159', ' 18.160000']
[' 37.979330', ' 23.735614', ' 16.3965', ' -1.2213', ' -0.3034', ' 18.200000']
[' 37.979329', ' 23.735613', ' 16.2318', ' -1.0652', ' -0.2897', ' 18.240000']
[' 37.979327', ' 23.735612', ' 16.0888', ' -0.9215', ' -0.2750', ' 18.280000']
[' 37.979326', ' 23.735611', ' 15.9641', ' -0.8392', ' -0.2707', ' 18.320000']
[' 37.979325', ' 23.735610', ' 15.8484', ' -0.7311', ' -0.2666', ' 18.360000']
[' 37.979324', ' 23.735609', ' 15.7459', ' -0.5912', ' -0.2623', ' 18.400000']
[' 37.979322', ' 23.735608', ' 15.6579', ' -0.4706', ' -0.2580', ' 18.440000']
[' 37.979321', ' 23.735607', ' 15.5816', ' -0.3718', ' -0.2535', ' 18.480000']
[' 37.979320', ' 23.735606', ' 15.5136', ' -0.2980', ' -0.2487', ' 18.520000']
[' 37.979319', ' 23.735605', ' 15.4544', ' -0.1928', ' -0.2434', ' 18.560000']
[' 37.979317', ' 23.735604', ' 15.4090', ' -0.0511', ' -0.2378', ' 18.600000']
[' 37.979316', ' 23.735603', ' 15.3788', ' 0.0662', ' -0.2319', ' 18.640000']
[' 37.979315', ' 23.735602', ' 15.3603', ' 0.1549', ' -0.2257']
[' 18.680000', ' 37.979313', ' 23.735600', ' 15.3492', ' 0.2098']
[' -0.2188', ' 18.720000', ' 37.979312', ' 23.735599', ' 15.3458']
[' 0.3039', ' -0.2114', ' 18.760000', ' 37.979311', ' 23.735598']
[' 15.3568', ' 0.4459', ' -0.2035', ' 18.800000', ' ']

In [ ]:
for i in range(len(new_df)):
    trajectories = new_df.iloc[i, 10].split(',')
    data_splits = np.array_split(trajectories, 6)

In [40]:
ls = ['1', '1.11', '-0.5524']
intls = []
for l in ls:
    ls.append(float(l))

In [6]:


tst = list(range(1, 922, 1))
print(tst)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155, 156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168, 169, 170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181, 182, 183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194, 195, 196, 197, 198, 199, 200, 201, 202, 203, 204, 205, 206, 207, 208, 209, 210, 211, 212, 213, 214, 215, 216, 217, 218, 219, 220, 221, 222, 223, 224, 225, 226, 227, 228, 229, 230, 231, 232, 233, 234, 235, 236, 237, 238, 239, 240, 241, 242, 243, 244, 245, 246, 247, 248, 249, 250, 251, 252, 253, 254, 255, 256, 257, 258, 259, 260, 261, 262, 263, 264, 265, 266, 267, 268, 269, 270, 271, 272, 273, 274, 275, 276, 277, 278, 279, 280, 281, 282, 283, 284, 285, 286, 287, 288, 289, 290, 291, 292, 293, 294, 295, 296, 297, 298, 299, 300, 301, 302, 303, 304, 305, 306, 307, 308, 309, 310, 311, 312, 313, 314, 315, 316, 317, 318, 319, 320, 321, 322, 323, 324, 325, 326, 327, 328, 329, 330, 331, 332, 333, 334, 335, 336, 337, 338, 339, 340, 341, 342, 343, 344, 345, 346, 347, 348, 349, 350, 351, 352, 353, 354, 355, 356, 357, 358, 359, 360, 361, 362, 363, 364, 365, 366, 367, 368, 369, 370, 371, 372, 373, 374, 375, 376, 377, 378, 379, 380, 381, 382, 383, 384, 385, 386, 387, 388, 389, 390, 391, 392, 393, 394, 395, 396, 397, 398, 399, 400, 401, 402, 403, 404, 405, 406, 407, 408, 409, 410, 411, 412, 413, 414, 415, 416, 417, 418, 419, 420, 421, 422, 423, 424, 425, 426, 427, 428, 429, 430, 431, 432, 433, 434, 435, 436, 437, 438, 439, 440, 441, 442, 443, 444, 445, 446, 447, 448, 449, 450, 451, 452, 453, 454, 455, 456, 457, 458, 459, 460, 461, 462, 463, 464, 465, 466, 467, 468, 469, 470, 471, 472, 473, 474, 475, 476, 477, 478, 479, 480, 481, 482, 483, 484, 485, 486, 487, 488, 489, 490, 491, 492, 493, 494, 495, 496, 497, 498, 499, 500, 501, 502, 503, 504, 505, 506, 507, 508, 509, 510, 511, 512, 513, 514, 515, 516, 517, 518, 519, 520, 521, 522, 523, 524, 525, 526, 527, 528, 529, 530, 531, 532, 533, 534, 535, 536, 537, 538, 539, 540, 541, 542, 543, 544, 545, 546, 547, 548, 549, 550, 551, 552, 553, 554, 555, 556, 557, 558, 559, 560, 561, 562, 563, 564, 565, 566, 567, 568, 569, 570, 571, 572, 573, 574, 575, 576, 577, 578, 579, 580, 581, 582, 583, 584, 585, 586, 587, 588, 589, 590, 591, 592, 593, 594, 595, 596, 597, 598, 599, 600, 601, 602, 603, 604, 605, 606, 607, 608, 609, 610, 611, 612, 613, 614, 615, 616, 617, 618, 619, 620, 621, 622, 623, 624, 625, 626, 627, 628, 629, 630, 631, 632, 633, 634, 635, 636, 637, 638, 639, 640, 641, 642, 643, 644, 645, 646, 647, 648, 649, 650, 651, 652, 653, 654, 655, 656, 657, 658, 659, 660, 661, 662, 663, 664, 665, 666, 667, 668, 669, 670, 671, 672, 673, 674, 675, 676, 677, 678, 679, 680, 681, 682, 683, 684, 685, 686, 687, 688, 689, 690, 691, 692, 693, 694, 695, 696, 697, 698, 699, 700, 701, 702, 703, 704, 705, 706, 707, 708, 709, 710, 711, 712, 713, 714, 715, 716, 717, 718, 719, 720, 721, 722, 723, 724, 725, 726, 727, 728, 729, 730, 731, 732, 733, 734, 735, 736, 737, 738, 739, 740, 741, 742, 743, 744, 745, 746, 747, 748, 749, 750, 751, 752, 753, 754, 755, 756, 757, 758, 759, 760, 761, 762, 763, 764, 765, 766, 767, 768, 769, 770, 771, 772, 773, 774, 775, 776, 777, 778, 779, 780, 781, 782, 783, 784, 785, 786, 787, 788, 789, 790, 791, 792, 793, 794, 795, 796, 797, 798, 799, 800, 801, 802, 803, 804, 805, 806, 807, 808, 809, 810, 811, 812, 813, 814, 815, 816, 817, 818, 819, 820, 821, 822, 823, 824, 825, 826, 827, 828, 829, 830, 831, 832, 833, 834, 835, 836, 837, 838, 839, 840, 841, 842, 843, 844, 845, 846, 847, 848, 849, 850, 851, 852, 853, 854, 855, 856, 857, 858, 859, 860, 861, 862, 863, 864, 865, 866, 867, 868, 869, 870, 871, 872, 873, 874, 875, 876, 877, 878, 879, 880, 881, 882, 883, 884, 885, 886, 887, 888, 889, 890, 891, 892, 893, 894, 895, 896, 897, 898, 899, 900, 901, 902, 903, 904, 905, 906, 907, 908, 909, 910, 911, 912, 913, 914, 915, 916, 917, 918, 919, 920, 921]